# ANALISIS ESTADISTICO DE DATASET : ECOMMERCE CHURN

fuente : [KAGGLE](https://www.kaggle.com/datasets/samuelsemaya/e-commerce-customer-churn)

# PASO 1 : IMPORTAMOS LIBRERIAS

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# PASO 2 : CARGAMOS DATASET

In [2]:
data_df = pd.read_csv('/content/data_ecommerce_customer_churn.csv')
data_df.head(2)

,Tenure,WarehouseToHome,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,DaySinceLastOrder,CashbackAmount,Churn
0,15.0,29.0,4,Laptop & Accessory,3,Single,2,0,7.0,143.32,0
1,7.0,25.0,4,Mobile,1,Married,2,0,7.0,129.29,0

# PASO 3 - ANALISIS EXPLORATORIO DE DATOS(EDA)

## TIPOS DE DATOS

In [3]:
data_df.dtypes

Tenure                      float64
WarehouseToHome             float64
NumberOfDeviceRegistered      int64
PreferedOrderCat             object
SatisfactionScore             int64
MaritalStatus                object
NumberOfAddress               int64
Complain                      int64
DaySinceLastOrder           float64
CashbackAmount              float64
Churn                         int64
dtype: object

## CONTEO POR TIPO DE DATOS

In [4]:
data_df.dtypes.value_counts()

int64      5
float64    4
object     2
Name: count, dtype: int64

## TAMAÑO DEL DATASET(FILAS Y COLUMNAS)

In [5]:
data_df.shape

(3941, 11)