In [1]:
import numpy as np

CREANDO ARRAYS CON TIPOS DE DATOS

In [2]:
arr = np.array([1,2,3,4])
arr.dtype

dtype('int64')

In [3]:
arr_float = np.array([1,2,3,4],dtype='float64')
arr_float.dtype

dtype('float64')

In [4]:
arr_float

array([1., 2., 3., 4.])

CAMBIANDO TIPOS DE DATOS

In [7]:
arr = np.array([0,1,2,3,4])
arr_bool = arr.astype(np.bool_)
arr_bool

array([False,  True,  True,  True,  True])

In [8]:
arr = np.array([0,1,2,3,4])
arr_string = arr.astype(np.string_)
arr_string

array([b'0', b'1', b'2', b'3', b'4'], dtype='|S21')

In [10]:
arr = np.array(['0','1','2','3','4'])
arr_int = arr.astype(np.int8)
arr_int

array([0, 1, 2, 3, 4], dtype=int8)